@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: Inter, Arial, sans-serif;
  color: rgb(17 24 39);
}

* {
  transition-property: color, background-color, border-color, opacity, box-shadow, transform;
  transition-duration: 180ms;
  transition-timing-function: ease;
}
